li.folder {
  list-style-image: url(../../assets/icons/folder.svg);
}

li.file {
  list-style-image: url(../../assets/icons/file-image.svg);
}

li.return {
  list-style-image: url(../../assets/icons/arrow-circle-left.svg);
}

ul {
  margin-bottom: 0;
}

img{
    max-width: 100%;
}

div.container{
    margin-bottom: 50px;
}
div.form-group{
    width: 100%;
}
