.filter{
    display: block;
}
.filter .col-12 .row{
    margin-bottom: 10px;
}
.filter .col-12 .row button.btn-primary{
    margin: auto;
    width: 50%;
}

.container {
    background-color: #e9ecef;
    padding: 0;
    height: 100%;
    min-height: 100vh;
}

.container .row{
    padding: 0px 15px;
}

.treeView{
    padding-right: 15px;
    padding-left: 15px;
}

h6 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h6:before, h6:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 0.5px;
    content: '\a0';
    background-color: #000;
}
h6:before {
    margin-left: -50%;
    text-align: right;
}