<div class="container">
    <h6>Filter</h6>
    <div class="row filter">
        <div class="col-12">
            <div class="row">
                <input type="text" class="form-control" id="searchBox" placeholder="Suche" [(ngModel)]="filter" (change)="filterChange()">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary" (click)="filterChange()">Search</button>
            </div>
        </div>
    </div>
        
    
    <h6>Verzeichnisse</h6>
    <div class="treeView">
        <app-tree-view *ngIf="filteredDirectoryPaths != null"
            (imagePath)="getFilePathOnChange($event)"
            (imageDataJson)="getImageDataJsonOnChange($event)"
            [value]="filteredDirectoryPaths"
        ></app-tree-view>
    </div>
</div>