/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* JSON Viewe Color  */
.segment-key {
  color: var(--accent) !important;
}
.segment-separator{
  color: var(--accent) !important;
}
.segment-type-boolean > .segment-main > .segment-value {
  color: var(--lightest) !important;
}
.segment-type-string > .segment-main > .segment-value {
  color: var(--lightest) !important;
}
.segment-type-number > .segment-main > .segment-value {
  color:  var(--lightest) !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
