<ng-container *ngIf="value != null">
    <ng-container *ngFor="let item of value">
        <ul [ngStyle]="{'margin-left': level+'px'}">
            <li class="folder">
                <a (click)="expandDirectory(parentClass + item.directoryName)"> {{item.directoryName}}</a>
                <a *ngIf="item.imageDataJson != null" (click)="chooseImageDataJson(item.imageDataJson)"><i class="info"></i></a>
            </li>
        </ul>
        <app-tree-view className="n{{parentClass}}{{item.directoryName}}" [value]="item.childDirectories" [level]="level + 10" [parentClass]="item.directoryName" (imagePath)="getFilePathOnChange($event)" (imageDataJson)="getImageDataJsonOnChange($event)" style="display: none;">
        </app-tree-view>
        <app-tree-view className="n{{parentClass}}{{item.directoryName}}" [files]="item.files" [level]="level + 10" [parentClass]="item.directoryName" (imagePath)="getFilePathOnChange($event)" (imageDataJson)="getImageDataJsonOnChange($event)" style="display: none;">
        </app-tree-view>
    </ng-container>
</ng-container>
<ng-container *ngIf="files != null">
    <ul [ngStyle]="{'margin-left': level+'px'}"> 
        <li *ngFor="let file of files" class="file">
            <a (click)="chooseImage(file.filePath)"> {{file.fileName}}</a>
        </li>
    </ul>
</ng-container>
